@{
    ViewBag.Title = "About";
}

<h1>Charlotte Viktorsson</h1>
<section id="summary">
    <h2>Summary</h2>

    <p>
        Responsible and quality minded software designer with long experience within development and testing.
        Want to have the user in focus and like to work agile and in team.
    </p>
</section>


<section id="workExperience">
    <h2>Work experience</h2>

    <h3>Experis AB, June 2018 - December 2020</h3>
    <p class="beforeTable">
        Consultant assignments within software development and testing.
    </p>
    <table>
        <tr>
            <th>Role</th>
            <th>Company</th>
            <th>Years</th>
        </tr>
        <tr>
            <td>Testutvecklare (Test developer)</td>
            <td>Försäkringskassan IT (The Swedish Social Insurance Agency IT)</td>
            <td>2019-2020</td>
        </tr>
        <tr>
            <td>Software Designer</td>
            <td>AAK Sweden AB</td>
            <td>2018-2019</td>
        </tr>
    </table>


    <h3>Ericsson AB, June 2000 - June 2017</h3>

    <p class="beforeTable">
        Worked with many different products, tools, technologies, programming languages, roles and ways of working.
        International cooperation has consistently been central as well as practicing Continous Integration with automated tests and nightly builds/installations.
    </p>

    <table>
        <tr>
            <th>Role</th>
            <th>Product(s)</th>
            <th>Years</th>
        </tr>
        <tr>
            <td>Software Developer</td>
            <td>Charging System, Revenue Manager</td>
            <td>2011-2017</td>
        </tr>
        <tr>
            <td>Test Developer</td>
            <td>Revenue Manager</td>
            <td>2015</td>
        </tr>
        <tr>
            <td>Configuration Manager</td>
            <td>Charging System</td>
            <td>2007-2010</td>
        </tr>
        <tr>
            <td>Software Configuration Manager</td>
            <td>Mobile Positioning System, MINSAT</td>
            <td>2004-2006</td>
        </tr>
        <tr>
            <td>Software Designer</td>
            <td>Mobile Positioning System</td>
            <td>2000-2003</td>
        </tr>
    </table>

</section>

<section id="education">
    <h2>Education</h2>
    <table>
        <tr>
            <th>Program</th>
            <th>Points</th>
            <th>University</th>
            <th>Years</th>
        </tr>
        <tr>
            <td>Webbprogramming and databases</td>
            <td>30 HP</td>
            <td>Blekinge Institute of Technology</td>
            <td>2017-2018</td>
        </tr>
        <tr>
            <td>Java, Basic and Advanced</td>
            <td>15 HP</td>
            <td>Blekinge Institute of Technology</td>
            <td>2011</td>
        </tr>
        <tr>
            <td>
                Bachelor of Science in Technology in System Design
                Computer Technical Education
            </td>
            <td>180 HP</td>
            <td>Linnaeus University</td>
            <td>1997 - 2000</td>
        </tr>
        <tr>
            <td>Informatics A + B</td>
            <td>60 HP</td>
            <td>Umeå University</td>
            <td>1996-1997</td>
        </tr>
    </table>

</section>


<section id="misc">
    <h2>Personal Qualities</h2>

    <p>
        Like to learn new things and use my logic. I am very diligent, service minded and easy to work with.
        My carrier style is a combination of the Expert who likes to learn things in depth and the Expander who wants to learn more on the width.
        My personality type according to Meyers-Brigg is the responsible ISTJ.
    </p>

    <h2>Miscellaneous</h2>

    <h3>Interests</h3>

    <p>Like animals and nature beyond the family with husband and two teenagers. We have two cats and one dog and live on the countryside outside of Karlshamn.</p>


    <h3>Driving Licence</h3>

    <p>B</p>
</section>