@{
    ViewBag.Title = "Contact";
}
<h1>Contact details</h1>

<h2>Address</h2>
<p>Hemvägen 15</p>
<p>300 00 Hemstad</p>

<h2>Mail</h2>
<a href="mailto:charlotte.viktorsson.karlshamn@gmail.com">charlotte.viktorsson.karlshamn@gmail.com</a>

<h2>Phone</h2>
<p>+46 123 346578</p>
