@{
    ViewBag.Title = "Home";
}


<h1>Charlottes main page</h1>

<h2>Welcome to the Main page.</h2>
<p>On this site you can find information about me and my code projects.</p>
<p>Check the menu above!</p>


<img id="frontimg" src="~/img/charlotte_sommar_mindre.jpg" alt="Summmer picture Charlotte." />



<p id="comment">Best Regards, Charlotte</p>