@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Projects";
}
<h1>Projects</h1>

<h2>Git hub projects</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/Sokoban">Sokoban</a></td>
        <td>JavaScript, HTML, CSS</td>
        <td>Assignment for Lexicon .NET course with a simple puzzle game.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/Basic-Html-Page">Basic-Html-Page</a></td>
        <td>HTML, CSS</td>
        <td>Assignment for Lexicon .NET course with basic HTML and CSS</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/VendingMachine">VendingMachine</a></td>
        <td>C#</td>
        <td>Assignment for Lexicon .NET course with a console-based vending machine.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/ToDoIt">ToDoIt</a></td>
        <td>C#</td>
        <td>Assignment for Lexicon .NET course with an object oriented project with XUnit tests.</td>
    </tr>
    <tr>
        <td> <a href="https://github.com/Charlotte-Viktorsson/ConsoleCalculator">ConsoleCalculator</a></td>
        <td>C#</td>
        <td>Assignment for Lexicon .NET course with a console-based basic calculator.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/oophpvt18">oophpvt18</a></td>
        <td>PHP, HTML, CSS, JavaScript</td>
        <td>Object oriented assignment for BTH course in webprogramming.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/Anax-Flat">Anax-Flat</a></td>
        <td>PHP</td>
        <td>Base for assignments for BTH course in webprogramming.</td>
    </tr>
    <tr>
        <td><a href="https://github.com/Charlotte-Viktorsson/anax-flat-theme">anax-flat-theme</a></td>
        <td>PHP, HTML, CSS</td>
        <td>Theme assignment for BTH course in webprogramming.</td>
    </tr>
</table>